.todo-app {
  font-size: 2rem;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
}

.todo-header {
  width: 100%;
  min-height: 1rem;
  background-color: #111214;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.todo-logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
  color: #ddd;
  letter-spacing: 0.2rem;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 25rem;
  height: 4rem;
  background-color: #060709;
  border: none;
  border-radius: 5rem;
  padding: 0 4rem 0 2rem;
  color: #ddd;
  transition: width 0.3s;
}

.search-bar input:focus {
  width: 35rem;
}

.search-bar button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 35%;
  right: 1rem;
  transform: translateY(-50%);
  color: #bbb;
  font-size: 1.4rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

input[type="text"] {
  margin-right: 1rem;
}

button {
  margin-left: 5px;
}

.todo-footer {
  width: 100%;
  min-height: 5rem;
  background-color: #111214;
  text-align: center;
  font-size: 60%;
}
